.top-buffer {
    margin-top: 1rem;
}

#roomMessages {
    border: 1px #ccc solid;
    height: 60vh;
    overflow-y: scroll;
    padding-top: 1rem;
}

#roomMessages ul, #userList ul {
    list-style: none;
    padding: 0px;
}
#roomMessages ul li {
    margin-bottom: 0.5rem;
}

#userList {
    border: 1px #ccc solid;
    padding-top: 1rem;
}